    :root{
        --primary-brand: #4D5AE5;
        --active-button: #404BBF;
        --section-colour: #2E2F42;
        --success: #31D0AA;
        --text-discription: #434455;
        --subtle-text: #8E8F99;
        --accent: #E7E9FC;
        --cloud-bckground: #F4F4FD;
        --white-base: #ffffff;
    }

    body {
        font-family: 'Roboto',sans-serif;
        color: var(--section-colour);
        font-size: 16px;
        background-color: var(--white-base);
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    ul{
        list-style-type: none;
    }

    ul,h1,h2,h3,h4,h5,h6,p{
        margin-top: 0;
        margin-bottom: 0;
    }

    ul{
        padding-left: 0;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .header{
       padding: 24px 0;
       border-bottom: 1px solid var(--accent);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .conteiner{
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
    
    .header-conteiner{
        display: flex;
        align-items: center;
    }

    .navigation{
        display: flex;
        align-items: center;
    }

    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .address{
        margin-left: auto;
    }   

    .header-nav{
        display: flex;
        margin-left: auto;
        gap: 40px;
    }

    .header-link{
        margin-left: 76px;
        display: flex;
        gap: 40px;
    }
  
    nav{
        display: block;
    }

    .color-logo{
        color: var(--active-button);
    }


    .logo{
        color: var(--section-colour);
        font-family: 'Raleway';
        font-size: 18px;
        line-height: 1.33;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
    }

    .link-nav{
        line-height: 1.5;
        letter-spacing: 0.02px;
        color: var(--section-colour);
        font-weight: 500;
    }

    .link-nav:hover,
    .link-nav:focus{
        color: var(--active-button);
    }

    .contatc-link{
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 400;
        color:var(--text-discription);
        font-style: normal;
    }

    .contatc-link:hover,
    .contatc-link:focus{
        color: var(--active-button);
    }

    .banner{
        text-align: center;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
            to top,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .about{
        padding-top: 0px;
    }

    .banner-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-base); 
        width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        /* background-color: tomato; */
    }

    .work-list{
        display: flex;
        column-gap: 24px;
    }

    .work-item{
        border: 1px solid var(--accent);
    }

    .taem-block{
        outline: 1px solid inherit;
        border-radius: 0px 0px 4px 4px;
        background-color: var(--white-base);
        padding-bottom: 32px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .taem-block > h3{
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-top: 32px;
    }

    .taem-block > p{
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-top: 8px;
    }

    .team-link{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;
    }

    .social-item{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: var(--primary-brand);
    }

    .social-item:hover,
    .social-item:focus{
        background-color: var(--active-button);
    }

    .section-title{
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .section-subtitle{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        text-align: left;
        margin-bottom: 8px;
    }

    .section-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-discription);
        letter-spacing: 0.02em;
    }

    .team{
        background-color: var(--cloud-bckground);
    }

    .customers-list{
        display: flex;
        gap: 24px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .costumer-order{
        flex-basis: calc((100% - 120px) / 6);
    }

    .customer-point{
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        height: 88px;
        border: 1px solid var(--subtle-text);
        border-radius: 4px;
    }

    .customer-point:hover,
    .customer-point:focus{
        border: 1px solid var(--active-button);
    }

    .customer-item{
        fill: var(--subtle-text)
    }

    .customer-point:focus .customer-item,
    .customer-point:hover .customer-item{
        fill: var(--active-button);  
    }

    button{
        background-color: var(--primary-brand);
        color: var(--white-base);
        cursor: pointer;
        line-height: 1.5; 
        text-align: center;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border-width: 0px;
        padding: 16px 32px;
        min-width: 169px;
        display: inline-block;
    }

    .mainpage-button:hover,
    .mainpage-button:focus{
        background-color: var(--active-button);

    }

    .selection-button{
        background-color: var(--cloud-bckground);
        color: var(--active-button);
        border: 1px solid var(--accent);
        border-radius: 4px;
        font-weight: 500;
        min-width: 69px;
        min-height: 48px;
        display: flex;
        padding: 12px 24px;
    }

    .selection-button:hover,
    .selection-button:focus{
        background-color: var(--active-button);
        color: var(--cloud-bckground); 
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 2px 1px rgba(0, 0, 0, 0.08), 
         0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .portfolio{
        padding-top: 96px;
    }

    .button-list{
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-bottom: 72px;
    }

    .benefits-list{ 
        display: flex;
        gap: 24px;
    }

    .benefits-point{
        width: 264px;
    }

    .benefits-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-bckground);
        margin-bottom: 8px;
    }

    .portfolio-list{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-list > li{
        border: 1px solid var(--accent);
        flex-basis: calc((100% - 48px) / 3);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .portfolio-item:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16), 
         0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .item-image{
        display: block;
    }

    .portfolio-subtitle{
        padding-left: 16px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: var(--section-colour);
    }

    
    .logo-footer{
        color: var(--accent);
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .footer-links{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-base);
    }
    
    .footer-social{
        display: flex;
        margin-top: 16px;
        gap: 16px;
    }
    .footer-text{
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: var(--accent);
        width: 264px;
        height: 72px;
        margin-top: 16px;
    }

    .footer-conteiner{
        display: flex;
    }

    .soc-wrapper{
        margin-left: 120px;
    }

    .social-item-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-image: linear-gradient(to top,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1));
    }

    .social-item-footer:hover,
    .social-item-footer:focus{
        background-image: linear-gradient(to top,
         var(--success),
        var(--success));
    }